<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>

        <link rel="stylesheet"                      href="~/css/Style.css"/>
        <link rel="stylesheet/less" type="text/css" href="~/css/styles.less" />

        <script src="https://cdn.jsdelivr.net/npm/less" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" type="text/javascript"></script>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div class="header">
            <img src="~/img/icon.png"/>
            <input class="search" placeholder="Поиск по сайту"/>
            <div>
                <div style="position: relative; display: inline-block;">
                    <img src="~/img/ic-basket.png" alt="Your Image" />
                    <div class="CountJocki" style="position: absolute; top: 0; right: 0; background-color: red; color: white; border-radius: 50%; width: 30px; height: 30px; text-align: center; line-height: 30px;">
                        0
                    </div>
                </div>
            </div>
            <a href="/items">Товары</a>
            <a href="/items/add">Добавить товар</a>
            <a href="/categories">категории</a>
            <a href="/categories/add">Добавить категорию</a>
        </div>

        <div>
            @RenderBody()
        </div>
    </body>
</html>