@using Shop.Data.Models
@model IEnumerable<Categories>

@{
    Layout = "_Layout";
}

<h2>Все категории</h2>
@{
    foreach (var item in Model)
    {
        <div class="item">
            <div class="data">
                <h3>Категория: @item.Name</h3>
                <div>Описание: @item.Description</div>
            </div>
            <a href="/Categories/Update?id=@item.Id">Изменить</a>
            <a href="/Categories/Delete?id=@item.Id">Удалить</a>
        </div>
    }
}